.footer {
    width: 100%;
    margin: 0;
    max-height: 15vh;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    color: #000000;
    text-align: center;
    border-top: solid 1px rgb(226, 226, 226);
}

.footer img {
    padding: 10px;
    object-fit: contain;
    max-height: inherit;
}