/*position encre*/
#prestations {
  position: relative;
  top: -60px;
}

.prestations {
  background-color: #F2F2F2;
  padding: 60px 0;
}

.prestations h2 {
  font-family: "Karla-light";
  color: #965D62;
  padding-left: 1.5rem;
}

.prestations h4 {
  font-family: "Karla-light";
  color: #534e52;
  
}

.prestations p {
  padding: 1rem;
  margin: 0;
}

.prestationsPart {
  height: fit-content;
  border-bottom: solid 1px #534e5250;
  border-left: solid 1px #534e5250;
  border-right: solid 1px #534e5250;
  margin: 10px;
}

.imgPrestations {
  width: 100%;
  padding: 0 1.5rem;
}

.parallax {
  /* The image used */
  background-image: url("../img/interieur-taxi-1.jpg");
  
  /* Set a specific height */
  min-height: 400px; 
  width: 100%;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}