/**************************************************CONTACT**************************************************/

body {
    margin-top: 10vh;
}

form {
    max-width: 500px;
}

.infoClient {
    padding: 1em 2em;
    box-shadow: 0em 0px 0.3em grey;
}

.infoVoyage {
    padding: 1em 2em;
    box-shadow: 0em 0px 0.3em grey;
}

.inputSize {
    height: 70px;
}

.inputs {
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 100%;
    background-color: transparent;
}

.inputs:focus {
    outline: none;
}

.error {
    color: red;
    text-align: start;
}

#feedBackMail {
    color: black;
}

input[type=submit] {
    background-color: rgba(0, 0, 0, 0.589);
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

/*
button {
    background-color: rgb(196, 196, 196);
    border: none;
    border-radius: 5;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none !important;
    display: inline-block;
    font-size: 16px;
}
*/

.flecheHaut svg {
    margin-bottom: 2%;
}