/********** FONT **********/
@font-face {
    font-family: "Karla-Regular";
    src: url(../font/Karla/Karla-Regular.ttf); 
}

/********** ALL **********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: "Karla-Regular";
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}
