.secondNav {
    margin: 0 auto;
    width: fit-content;
    height: 60px;
    position: relative;
    top: -60px;

    display: flex;
    justify-content: center;

    background-color: #F2F2F2;    
    border-radius: 5px 5px 0 0;
}

/* chaque li */
.secondNav li {
    list-style: none;
    padding-top: 19px;
}

/* chaque a */
.secondNav li a {
    padding: 20px 4vw;
    color: black;
}

/* chaque a au li:hover */
.secondNav li:hover a {
    color: #534e52;
    cursor: pointer;
    text-decoration: none;
    background-color: #ffffff;
}

/* bouton bienvenue */
.welcomeButton {
    background-color: #ffffff;    
    border-radius: 5px 0 0 0 ;
}

.welcomeButton a {
    color: #534e52 !important;
    height: 100%;
}

.welcomeButton:hover a {
    border-radius: 5px 0 0 0;
}

/* ligne sous bouton bienvenue */
hr{
    position: relative;
    z-index: 100 !important;
    margin: 15px auto;
    width: 30%;
    height: 4px;
    background-color: #534e524b;
    border: none;
}


/* bouton tarif */
.Tarifs:hover a {
    border-radius: 0 5px 0 0;
}

/* ligne verticale séparation des li */
.verticalLine {
    border-left: 1px solid #534e525d;
}


.welcome {
    padding-bottom: 60px;
}

.welcome h2 {
    font-family: "Karla-light";
    color: #965D62;
}

.imgPhone {
    max-width: 200px;
}